---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<h1>Blog</h1>
		<p>I mean, if I don't technically care about people seeing what I write, it might not be the worst idea to have a place to ramble and tinker on. You know,
			in my copious amounts of free time that I certainly have, yes yes.
		</p>
		<p>Food for thought, at least.</p>
		<p><a href="/">Go Home</a></p>
	</body>
</html>
